# **SI649 W23 Altair Homework #4**
## Overview 

We'll focus on maps and cartrographic visualization. In this lab, you will practice:
* Point Maps
* Symbol Maps
* Choropleth maps
* Interactions with maps


### Lab Instructions

*   Save, rename, and submit the ipynb file (use your username in the name).
*   Complete all the checkpoints, to create the required visualization at each cell.
*   Run every cell (do Runtime -> Restart and run all to make sure you have a clean working version), print to pdf, submit the pdf file. 
*   If you end up stuck, show us your work by including links (URLs) that you have searched for. You'll get partial credit for showing your work in progress.

In [4]:
import pandas as pd
import altair as alt
from vega_datasets import data

alt.data_transformers.disable_max_rows()

df = pd.read_csv('https://raw.githubusercontent.com/dallascard/si649_public/main/altair_hw4/airports.csv')
url = "https://raw.githubusercontent.com/dallascard/si649_public/main/altair_hw4/small-airports.json"

## Visualization 1: Dot Density Map

![vis1](https://raw.githubusercontent.com/dallascard/SI649_public/main/altair_hw4/dot_density.png)
**Description of the visualization:**

We want to visualize the density of small airports in the world. Each small airport is represented by a dot. 
The visualization has two layers:
* The base layer shows the outline of the world map. 
* The point map shows different small airports. 
* The tooltip shows the **name** of the airport. 

**Hint:**
* How can we show continents on the map? Which object can be used from the json dataset ?
* How can we show only small airports on the map?

In [ ]:
# TODO: Vis 1

## Visualization 2: Propotional Symbol

![vis2](https://raw.githubusercontent.com/dallascard/SI649_public/main/altair_hw4/symbol_map.png)
**Description of the visualization:**

The visualization shows faceted maps pointing the 20 most populous cities in the world by 2100. There are two layers in faceted charts:
* The base layer shows the map of countries. 
* The second layer shows size encoded points indicating the population of those countries.
* Tooltip shows **city** name and **population**. 

**Hint:**
* Which projection has been used in individual charts?
* How to create a faceted chart with different years and 2 columns?

In [8]:
countries_url = data.world_110m.url
source = 'https://raw.githubusercontent.com/dallascard/SI649_public/main/altair_hw4/population_prediction.csv'

In [ ]:
# TODO: Vis 2

## Visualization 3: Hurricane Trajectories

![vis3](https://raw.githubusercontent.com/dallascard/SI649_public/main/altair_hw4/hurricane_trajectories.png)
**Description of the visualization:**

Create a map that shows the paths (trajectories) of the 2017 hurricanes. Filter the data so that only 2017 hurricanes are shown. Remove Alaska and Hawaii from the map (Filter out ids 2 and 15).

**Hint:**
* How will you filter out 2017 hurricanes?
* Which object can be used to show state boundaries?

In [9]:
states_url = data.us_10m.url
hurricane_data = pd.read_csv('https://raw.githubusercontent.com/dallascard/SI649_public/main/altair_hw4/hurdat2.csv')
hurricane_data.sample(3)

,identifier,name,num_pts,record_id,status,latitude,longitude,max_wind,min_pressure,datetime
14756,AL091924,UNNAMED,16,NaN,TS,23.7,-93.2,50,-999,1924-10-13T18:00:00
13601,AL061918,UNNAMED,23,NaN,TS,16.4,-67.5,35,-999,1918-09-11T00:00:00
42077,AL172001,OLGA,47,NaN,TS,30.3,-55.3,60,979,2001-11-26T00:00:00

In [ ]:
#TODO: Vis 3

## Visualization 4: Choropleth Map

![vis4](https://raw.githubusercontent.com/dallascard/SI649_public/main/altair_hw4/choropleth.png)

**Interaction**

![vis4](https://raw.githubusercontent.com/dallascard/SI649_public/main/altair_hw4/choropleth-interaction.gif)

**Description of the visualization:**

The visualization has a choropleth map showing the population of different states and a sorted bar chart showing the top 15 states by population. These charts are connected using a click interaction. 

**Hint**

* Which object can be used to show states on the map?
* Which transform can be used to add population data to the geographic data? How can we combine two datasets in Altair?

In [7]:
state_map = data.us_10m.url
state_pop = data.population_engineers_hurricanes()[['state', 'id', 'population']]
state_pop.sample(5)

                   state  id  population
31            New Mexico  35     2081015
19                 Maine  23     1331479
37                Oregon  41     4093465
10               Georgia  13    10310371
8   District of Columbia  11      681170

In [ ]:
# TODO: Vis 4